@media screen and (min-width: 900px) {
  //PORTFOLIO
  .portfolio {
    &__right {
      padding: 0 20px;
    }
  }
}
@media screen and (max-width: 899px) {
  //HEADER
  .header {
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    z-index: 99;
    transition: 0s background-color, 0.4s height ease-out;
    &__text {
      font-size: 25px;
    }
    #menu {
      display: block;
    }
    .nav-header {
      &.open {
        .nav-header__list {
          display: flex;
        }
      }
      &__list {
        display: none;
      }
    }
    &__nav {
      &.nav-header {
        .nav-header__item {
          opacity: 0;
          font-size: 0;
        }
      }
    }
    &.open {
      height: 100vh;
      .header {
        &__inner {
          justify-content: center;
        }
        &__logo {
          display: none;
        }
      }
      .nav-header {
        &.open {
          display: block;
          .nav-header__list {
            flex-direction: column;
            height: 40vh;
          }
          .nav-header__item {
            font-size: 23px;
            animation: 0.4s ease 0.5s normal forwards plusFontSize;
            @keyframes plusFontSize {
              100% {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  //TITLE
  .title {
    &__text {
      max-width: calc(100% - 22vw);
      text-align: center;
      font-size: 6.9vw;
    }
  }
  //FEATURES
  .features {
    padding: 120px 0;
    &__title {
      font-size: 38px;
    }
    &__list {
      margin-top: 45px;
      padding: 0;
    }
    .item-features {
      &__icon {
        width: 50px;
      }
      &__title {
        font-size: 18px;
      }
      &__text {
        font-size: 16px;
      }
    }
  }
  //PORTFOLIO
  .portfolio {
    &__title {
      font-size: 38px;
    }
    &__more{
      text-align: center;
      background-color: $grey-10;
      opacity: 1;
    }
    &__item {
      position: relative;
      padding: 0;
      img {
        max-width: none;
        width: 100%;
      }
    }
    &__right {
      display: none;
    }
    &__item.active {
      .portfolio {
        &__right {
          display: block;
          position: absolute;
          width: 100%;
          height: inherit;
          padding: 30px;
          background-color: rgb(0, 0, 0, 0.87);
          color: $white-10;
        }
        &__head {
          text-align: center;
        }
        &__text {
          font-size: 18px;
          line-height: 23px;
        }
      }
    }
    .slick-dots {
      width: 40vw;
    }
  }
  //PRICE
  .price {
    &__title {
      font-size: 38px;
    }
    .service-price{
      &__about{
        min-height: 120px;
      }
      &__include{
        font-size: 18px;
      }
      &__text{
        font-size: 16px;
      }
    }
  }
  //CHECKLIST
  .checklist {
    &__title {
      font-size: 38px;
    }
  }
  //FOOTER
  .footer {
    &__title {
      font-size: 38px;
    }
  }
}
@media screen and (max-width: 414px) {
  ._container {
    max-width: 414px;
  }
  // HEADER
  .header {
    &__inner {
      padding: 0;
    }
    &__logo {
      display: none;
    }
  }
  // TITLE
  .title {
    margin-top: 65px;
    height: calc(100vh - 65px);
    background: url(../images/bg-mobile.jpg) no-repeat 100% 100% / cover;
    animation: bg 2s;

    @keyframes bg {
      0% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }

    &::before {
      background-color: rgba(0, 0, 0, 0.5);
    }
    &__text {
      text-align: center;
      font-size: 30px;
      max-width: none;
      width: calc(100vw - 20px);
      top: 42%;
      opacity: 0;
      animation: 2s ease 1.3s normal forwards 1 fadein;
      @keyframes fadein {
        100% {
          opacity: 1;
        }
      }
    }
  }
  // ABOUT
  .about {
    padding: 120px 0;
    &__text {
      font-size: 20px;
    }
  }
  //FEATURES
  .features {
    &__title {
      font-size: 30px;
      text-align: center;
    }
    &__list {
      padding: 0 0;
    }
    &__item {
      font-size: 20px;
      line-height: 22px;
    }
    &__item + .features__item {
      margin-top: 40px;
    }
    .item-features {
      &__icon {
        width: 40px;
      }
      &__content {
        padding-left: 20px;
      }
    }
  }
  //PORTFOLIO
  .portfolio {
    min-height: 0;
    padding: 85px 0;
    &__title {
      font-size: 30px;
    }
    .slick-arrow {
      display: none;
    }
    &__item {
      position: relative;
      padding: 0;
      img {
        max-width: none;
        width: 100%;
      }
    }
    .slick-arrow {
      display: none !important;
    }
    &__item.active {
      .portfolio {
        &__right {
          display: block;
          position: absolute;
          width: 100%;
          height: inherit;
          padding: 30px;
          background-color: rgb(0, 0, 0, 0.87);
          color: $white-10;
        }
        &__head {
          text-align: center;
        }
        &__text {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
    .slick-dots {
      width: 50%;
      margin: 20px auto 0 auto;
    }
  }
  //PRICE
  .price {
    &__title {
      font-size: 30px;
    }
    .service-price {
      grid-gap: 80px;
      &__title {
        font-size: 25px;
      }
      &__about{
        min-height: 0;
      }
      &__point {
        font-size: 18px;
      }
      &__cost {
        width: 250px;
        text-align: center;
        padding: 10px 0;
        font-size: 25px;
      }
    }
  }
  // CHECKLIST
  .checklist {
    &__title {
      font-size: 25px;
    }
    &__link {
      width: 225px;
      padding: 25px 0;
      font-size: 20px;
    }
  }
  //FOOTER
  .footer {
    &__title {
      font-size: 30px;
      text-align: center;
    }
    .social-footer {
      margin-top: 25px;
      &__list {
        max-width: 175px;
        margin: 0 auto;
      }
      &__img {
        display: block;
        width: 26px;
      }
    }
  }
}
// IPHONE X
@media screen and (max-width: 375px) {
  //ABOUT
  .about {
    padding: 70px 0;
  }
  //PORTFOLIO
  .portfolio {
    .slick-dots li button {
      width: 12px;
      height: 12px;
    }
  }
  //PRICE
  .price {
    &__service {
      margin-top: 40px;
    }
    .service-price {
      &__title {
        font-size: 20px;
      }
      &__list {
        padding: 30px 35px;
      }
    }
  }
  //CHECKLIST
  .checklist {
    &__link {
      width: 215px;
      padding: 20px 0;
    }
  }
}
@media screen and (max-width: 375px) and (height: 667px) {
  //PORTFOLIO
  .portfolio {
    padding: 20px 0;
  }
}

@media screen and (max-width: 320px) {
  //ABOUT
  .about {
    &__text {
      font-size: 23px;
    }
  }
  //FEATURES
  .features {
    height: 100vh;
    padding: 72px 0;
    &__heading {
      text-align: center;
    }
    &__list {
      margin-top: 90px;
    }
    &__item {
      font-size: 20px;
    }
    &__item + .features__item {
      margin-top: 10px;
    }
  }
  //PRICE
  .price {
    .service-price {
      &__list {
        padding: 30px 25px;
      }
    }
  }
  //CHECKLIST
  .checklist {
    &__link {
      width: calc(100vw - 40px);
    }
  }
}
